@import "./font.css";

.login_box {
    border-radius: 15px;
    box-shadow: 1px 1px 4px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border: 0px;
    background-color: white;
}

.login_box_header {
    font-family: IBMPlexSans;
    color: black;
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
}

.login_box_text {
    font-family: IBMPlexSans;
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
    border: 1px solid #7f8c8d;
    border-radius: 15px;
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

.login_button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #7f8c8d;
    border-radius: 15px;
    background-color: #2579bd;
    font-family: IBMPlexSans;
    font-size: 24px;
    color: white;
    text-align: center;
}

.login_button:hover {
    background-color: #1d5f96;
    border: 1px solid gray;
}

.login_button:active {
    background-color: #15446b;
    border: 1px solid gray;
}
